
<ion-content>
  <div class="container ion-text-center">
    <img src="assets/logo_celiakos.png">
    <p></p>
    <ion-label class="texto ion-text-center">CeliakOS</ion-label>
    

    <div class="container"></div>
    <div class="tarjeta" id="info"><h3></h3></div>
    <div class="tarjeta" id="resto"><h3></h3></div>
    <div class="tarjeta" id="doc"><h3></h3></div>
    <div class="tarjeta" id="market"><h3></h3></div>
    <div class="tarjeta" id="uno"><h3></h3></div>
    <div class="tarjeta" id="dos"><h3></h3></div>
    <div class="tarjeta" id="tres"><h3></h3></div>
    <div class="tarjeta" id="cuatro"><h3></h3></div>
    
  </div>

  

</ion-content>
